.video-container {
    position: relative;
    width: 100%;          /* se adapta al ancho del contenedor */
    padding-top: 56.25%;  /* mantiene proporción 16:9 */
    border: 6px solid #000;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 40px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
 
